{% extends "dj_auth/auth_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}

{% if validlink %}

    <form method="post" action="">
        {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "share-alt" %} {% trans 'Enviar' %}
        </button>
    {% endbuttons %}
    </form>
{% else %}
    <div class="alert alert-danger">{% trans 'Error al procesar la solicitud.' %}</div>
{% endif %}

{% endblock %}
