{% extends "dj_auth/auth_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}

{% if validlink %}

    <form method="post" action="">
        {% csrf_token %}
    {% bootstrap_form form form_group_class="form-group label-floating"%}
    {% buttons %}
        <button type="submit" class="btn btn-raised btn-primary">
            {% trans 'Enviar' %} <i class="material-icons">send</i>
        </button>
    {% endbuttons %}
    </form>
{% else %}
    <div class="alert alert-danger">{% trans 'Error al procesar la solicitud.' %}</div>
{% endif %}

{% endblock %}
