{% extends "dj_auth/auth_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form form form_group_class="form-group form-group-lg label-floating" %}
        {% buttons %}
            <button type="submit" class="btn btn-raised btn-primary">
                {% trans 'Enviar' %} <i class="material-icons">send</i>
            </button>
            <a class="btn btn-raised btn-default" href="{% url 'login' %}">Volver</a>
        {% endbuttons %}
    </form>
{% endblock %}
