{% extends "dj_auth/auth_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form show_help=False form_group_class="form-group label-floating" %}
        {% buttons %}
            <button type="submit" class="btn btn-raised btn-primary">
            {% trans 'Enviar' %}
            </button>
            <a class="btn btn-default" href="{% url 'index' %}">{% trans 'Volver' %}</a>
        {% endbuttons %}
    </form>
{% endblock %}
