__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
src/sgk/settings/.env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
src/celerybeat-schedule
src/my-local-sqlite.db
src/bkp-dbs
