<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">
                Modificación del tratamiento de {{ paciente }}
            </h4>
        </div>
        <div class="modal-body">
            <p class="alert alert-success" data="success-and-close">Tratamiento {{ result }} correctamente.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function($){
        setTimeout(function() {
            $('#modal').modal('hide');
            window.location = "{% url 'tratamiento_list' paciente.pk %}";
        }, 1500);
    })(jQuery);
</script>
