@import 'font-face';
@import 'mixin';
@import "login.scss";


html, body {
    height: 100%;
}

body {
    background-color: #f2f2f2;
}

#content-main {
    min-height: calc(100% - 110px);
    overflow: hidden;
}

#content-main + footer.navbar-fixed-bottom {
    min-height: calc(100% - 177px);
}

/* CLASSES  */
.float-action {
    position: fixed !important;
    float: right;
    bottom: 8vh;
    right: 2vw;
    z-index: 30000;
}

.float-circle {
    //float: right;
    position: absolute !important;
    &.to-right {
        right: 30px;
    }
}

.icon-close-open {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../img/icon-close-open.png);
    right: 15px;
}

.session-info {
    display: block;
    background-color: #eee;
    margin-top: 10px;
    padding: 5px 10px;
    span {
        font-size: 20px;
        float: right;
        display: block;
        margin: 15px;
    }
}
.table-container {
    overflow: auto;
    clear: both;
}

.objetivo-content {
    border-bottom: 1px solid #eeeeee; 
    .fechas {
        float: right;
        background-color: #eee;
        padding: 0 3px;
    }
}

.modal {
    .modal-lg.zoom-images {
        width: 95% !important;
    }
}
/* LOGIN */

/* Override bootstrap */
.navbar {
    margin-bottom: 0;
}

textarea.form-control {
    height: 110px;
}

.form-group {
    margin: 15px 0 0 0;
    .help-block {
        position: relative;
        width: 100%;
        margin-bottom: -5px;
    }
    & > .help-block {
       margin-bottom: -15px;
    }
}
.form-inline {
    .form-group{
        margin-right: 15px;
    }
}
.nav-tabs {
    li {
        &.active {
            a, a:focus, a:hover {
                background-color: rgba(255,255,255,0.1) !important;
            }
        }
    }
}
/* Main classes */
.main-footer {
    background-color: #92cf94;
    padding: 10px;
    height: 60px;
    span {
        font-size: 20px;
        line-height: 20px;
    }
}

footer.navbar-fixed-bottom {
    background-color: #92cf94;
    border: 0;
    .active-sessions {
        margin: 0;
        display: inline-block;
    }
    .btn-group {
        margin: 0px 5px;
    }
    .clock {
        padding: 0 20px;
        font-size: 20px;
        font-weight: 700;
    }
}

//footer.navbar-fixed-bottom + .main-footer {
//    margin-bottom: 66px;
//}

.img-thumb-table {
    text-align: center;
    img {
        height: 40px;
    }
}

.table {
    & > tbody {
        & > tr {
            & > td {
                vertical-align: middle;
            }
        }
    }
}

/* SESSION pages*/
#countdown {
    #clock {
        font-size: 45px;
        padding-top: 10px;
    }
}

.caret-up {
    /* Safari */
    -webkit-transform: rotate(-180deg);

    /* Firefox */
    -moz-transform: rotate(-180deg);

    /* IE */
    -ms-transform: rotate(-180deg);

    /* Opera */
    -o-transform: rotate(-180deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);

}

.drop-up {
    top: auto;
    bottom: 100% !important;
}

@import "material";
@import "pace";


