{% extends "base_site.html" %}
{% block subtitle %}
    - Sobre SGK
{% endblock %}
{% block main_content %}
    <section class="intro back1">
        <div class="row">
            <div class="container">
                {% block content %}
                <div class="col-lg-9">
                    <h1>Sistema de gestión kinesiológico</h1>
                    <p class="lead">
                        Un sistema de gestión kinesiológico realizado con software libre.
                    </p>
                </div>
                {% endblock %}
            </div>
        </div>
    </section>


{% endblock %}

