{% extends "base_site.html" %}
{% load bootstrap3 %}
{% block subtitle %}
    :: {% if object.pk %}Editar {% else %}Agregar {% endif %} {{ model_name }}
{% endblock %}
{% block content %}
    <h2>{% if object.pk %}Editar {% else %}Agregar {% endif %} {{ model_name }}</h2>
    <div class="col-md-6 col-sm-9">
    <form method="POST" novalidate="" enctype="multipart/form-data">

    {% csrf_token %}
    {% bootstrap_form form form_group_class="form-group label-floating" %}
    {% buttons %}
        <button type="submit" class="btn btn-primary btn-raised">
            Guardar
        </button>
        <a href="{{ return_link }}">
            <input type="button" class="btn btn-danger btn-raised" value="Volver"/>
        </a>
    {% endbuttons %}
    </form>
    </div>
{% endblock %}

