{% extends "base_site.html" %}
{% load bootstrap3 static frontend_tags %}
{% block subtitle %}
    Ficha Kinésica
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-sd-12">
            <div class="col-sm-12">
                <h2>Ficha kinésica de {{ paciente.persona }}</h2>
                <p>
                <a class="btn btn-raised btn-danger" href="{% url 'ficha_kinesica' paciente.pk %}">
                    <i class="material-icons">assignment</i> Ficha kinésica</a>
                <a class="btn btn-raised btn-info" href="{% url 'tratamiento_list' paciente.pk %}">
                    <i class="material-icons">event_available</i> Tratamientos</a>
                    {% block extra_button %}{% endblock %}
                </p>
            </div>

            <div class="col-sm-3">
            {% block left_sidebar %}
                <div class="panel panel-primary sticky">
                    <div class="panel-heading">Datos de la persona</div>
                    <div class="panel-body">
                        <a href="{% url 'paciente_update' paciente.pk %}" class="btn btn-fab btn-danger float-circle">
                            <i class="material-icons">edit</i>
                        </a>
                        <a href="{% url 'historia_clinica_report_pdf' paciente.pk %}" class="btn btn-fab btn-success pull-right" title="Exportar Historia Clínica a PDF">
                            <i class="material-icons">cloud_download</i>
                        </a>
                        <div style="width:100%">
                            <img class="img-responsive img-circle"
                                 src="{{ paciente.persona.avatar_lg }}" />
                        </div>
                        <div>Nombre: <strong>{{ paciente.persona }}</strong></div>
                        <div>Edad: <strong>{{ paciente.persona.edad }}</strong></div>
                        <div>Cobertura: <strong>{{ paciente.cobertura_medica|default_if_none:"No definido" }}</strong></div>
                        <div>Género: <strong>{{ paciente.persona.get_genero_display }}</strong></div>
                        <div>Fecha de ingreso: <strong>{{ paciente.fecha_ingreso }}</strong></div>
                    </div>
                    {% if user.profesional %}
                    <div class="panel-footer">
                        <a class="btn btn-raised btn-success" data-toggle="modal" href="{% url 'comentario_hc_create' paciente.pk %}"
                           data-target="#modal" data-tooltip ><i class="material-icons">add</i> comentario</a>
                        <a class="btn btn-raised btn-success" data-toggle="modal" href="{% url 'imagen_hc_create' paciente.pk %}"
                           data-target="#modal" data-tooltip ><i class="material-icons">add</i> imagen</a>
                        <a class="btn btn-raised btn-success" data-toggle="modal" href="{% url 'imagen_hc_create' paciente.pk %}"
                           data-target="#modal" data-tooltip ><i class="material-icons">add</i> archivo</a>
                    </div>
                    {% endif %}
                </div>
            {% endblock %}
            </div>

            <div class="col-sm-9">
                {% block content_ficha %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">Antecedentes
                            <a class="btn btn-fab btn-info float-circle to-right" href="{% url 'ficha_kinesica_update' paciente.pk %}">
                                <i class="material-icons">launch</i></a>
                        </div>
                        <div class="panel-body">
                            {% show_info paciente.antecedente %}
                        </div>
                    </div>
                    <div id="historia-clinica-list">
                    {% include "includes/historia_clinica_entradas_list.html" %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        (function($){
            $('#modal').on('hidden.bs.modal', function (e) {
                $("#historia-clinica-list").load("{% url 'historia_clinica_list' paciente.pk %}");
            });
            // Enable on all forms
            $('form').areYouSure();
            $(".sticky").sticky({topSpacing:15,bottomSpacing:80});
        })(jQuery);
    </script>

{% endblock %}
