{% extends "frontend/ficha_kinesica.html" %}
{% load bootstrap3 static frontend_tags %}
{% block subtitle %}
    Motivos de consulta
{% endblock %}
{% block content_ficha %}
    <p><a class="btn btn-primary" href="{% url 'motivo_consulta_create' paciente.pk %}">Nuevo motivo de consulta</a></p>
    {% for motivo in object_list %}
        <div class="panel panel-success">
            <div class="panel-heading">Motivo de consulta
                <a class="pull-right" href="{% url 'ficha_kinesica_update' paciente.pk %}">
                    <i class="fa fa-edit"></i></a>
            </div>
            <div class="panel-body">
                {% show_info motivo %}
                <div class="">
                    {% for obj in motivo.objetivos.all %}
                        <div class="col-md-6">
                            <div class="well-sm well">
                                <h3>Objectivo</h3>
                                {% show_info obj %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% empty %}
        <p class="alert alert-warning">Aún no ha ingresado motivos de consulta para este paciente.</p>
    {% endfor %}
{% endblock %}
