{% extends "frontend/ficha_kinesica.html" %}
{% load bootstrap3 static frontend_tags %}
{% block subtitle %}
    Ficha Kinésica - Planificación de tratamiento
{% endblock %}
{% block content_ficha %}
    <h2>Nueva planificación de tratamiento para <strong>{{ motivo }}</strong> de {{ motivo.paciente }}</h2>
    <form action="" method="post" novalidate="">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'motivo_consulta' paciente.pk %}">
            <input type="button" class="btn " value="Volver" />
        </a>
    {% endbuttons %}
    </form>
{% endblock %}
