{% extends "frontend/ficha_kinesica.html" %}
{% load bootstrap3 static frontend_tags %}

{% block subtitle %}
    Ficha Kinésica - Nuevo Sesión
{% endblock %}
{% block content_ficha %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Nuevo sesión | Inicio: {{ object.comienzo_el|date:"d/m/Y H:i:s" }}
                <a class="btn btn-danger btn-fab float-circle to-right" src="#" id="sesion_delete"><i class="material-icons">delete</i></a>
            </h2>
            <form action="" method="post" novalidate="" id="form_nueva_sesion">
            {% csrf_token %}
            <div class="row">

                <div class="col-sm-4" id="countdown" style="text-align: center">
                    <div class="form-group">
                        <h1 id="clock"></h1>
                    </div>
                </div>
                <div class="col-sm-4">{% bootstrap_field form.fecha %}</div>
                <div class="col-sm-4">{% bootstrap_field form.duracion %}</div>
                <div class="col-sm-12">
                {% bootstrap_field form.estado_paciente %}
                {% bootstrap_field form.actividad %}
                {% bootstrap_field form.comentarios %}
                </div>
            </div>

            {% buttons %}
                <button type="submit" class="btn btn-raised btn-primary">Guardar</button>
                <a href="{% url 'tratamiento_list' paciente.pk %}">
                    <input type="button" class="btn btn-raised" value="Volver" />
                </a>
                <input id="sesion_save_close" type="button" class="btn btn-danger btn-raised pull-right" value="Guardar y terminar la sesión " />
            {% endbuttons %}
            </form>
        </div>
    </div>

    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#antecedentes" data-toggle="tab">Antecedentes</a></li>
        <li><a href="#motivo_consulta" data-toggle="tab">Motivo de consulta</a></li>
        <li><a href="#objetivos" data-toggle="tab">Objetivos</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="antecedentes">
            <div class="panel panel-success">
                <div class="panel-body">
                    {% show_info motivo.paciente.antecedente %}
                </div>
            </div>

        </div>
        <div class="tab-pane" id="motivo_consulta">
            <div class="panel panel-success">
                <div class="panel-body">
                    {% show_info motivo %}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="objetivos">
            <div class="panel panel-success">
                <div class="panel-body">
                    {% for obj in motivo.objetivos.all %}
                        <div>
                        <h4>{% if obj.cumplido %}<i class="fa fa-check"></i> {% endif %}{{ obj.descripcion }}
                            <small>{{ obj.observaciones }}</small>
                        </h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'jquery.countdown/dist/jquery.countdown.js' %}" ></script>
    <script type="text/javascript">
        function getTimeFromNow() {
            return new Date({{ object.comienzo_el|date_to_millis }} + ($("#id_duracion").val() * 60 * 1000));
        }
        (function($){
            $(".tab-pane .panel-body").css({'height': $("#my-tab-content").height()});
            var $clock = $('#clock');

            $clock.countdown(getTimeFromNow(), {elapse: true}).on('update.countdown', function(event) {
            var $this = $(this);
                $(this).html(event.strftime('%H:%M:%S'));
            });

            $("#id_duracion").change(function(){
                $clock.countdown(getTimeFromNow());
            });

            $("#sesion_save_close").click(function(e){
                e.preventDefault();
                var form = $("#form_nueva_sesion");
                showConfirm(
                        'Guardar y finalizar sesión',
                        'Esta a punto de guardar y finalizar la sesión de {{ paciente.persona }}. ¿Continuar?',
                        function(){
                            form.attr("action", "{% url 'sesion_save_close' paciente.pk paciente.tratamiento_activo.pk %}");
                            form.submit();
                        }
                );
            });

            $("#sesion_delete").click(function(e){
                e.preventDefault();
                showConfirm(
                        'Eliminar sesión',
                        'Esta a punto de eliminar la sesión de {{ paciente.persona }}. ¿Continuar?',
                        function(){
                            window.location = "{% url 'sesion_delete' paciente.pk object.pk %}";
                        }, function(){}, 'btn-danger'
                );
            });
        })(jQuery);

    </script>

{% endblock %}
