{% extends "frontend/ficha_kinesica.html" %}
{% load bootstrap3 static frontend_tags %}
{% block subtitle %}
    Motivos de consulta
{% endblock %}
{% block extra_button %}
    <a class="btn btn-raised btn-warning" href="{% url 'tratamiento_create' paciente.pk %}">Nuevo motivo de consulta</a>
{% endblock %}
{% block content_ficha %}

    {% for motivo in object_list %}
        <div class="panel panel-{% if forloop.first %}primary{% else %}default{% endif %}">
            <div class="panel-heading">Motivo de consulta
                <a class="btn btn-fab btn-info float-circle to-right" href="{% url 'tratamiento_update' paciente.pk motivo.pk %}">
                    <i class="material-icons">launch</i>
                </a>
            </div>
            <div class="panel-body">
                {% show_info motivo %}
                <div class="row">
                    {% for trata in motivo.planificaciones.all %}
                        <div class="col-sm-12">
                            <h3>Tratamiento</h3>
                            <p><span>Cantidad de sesiones: </span>{{ trata.cantidad_sesiones }}</p>
                            <p><span>Frecuencia semanal: </span>{{ trata.frecuencia }}</p>
                            <p><span>Estado: </span>{{ trata.get_estado_display }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    <h3>Objetivos</h3>
                    {% for obj in motivo.objetivos.all %}
                        <div id="objetivo_{{ paciente.pk }}_{{ obj.pk }}">
                            {% include "tratamientos/includes/objectivo_inline.html" with objetivo=obj paciente=paciente %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <p class="session-info">
                    <a class="btn btn-raised btn-warning" href="{% url 'sesion_create' paciente.pk motivo.pk %}">
                        <i class="material-icons">transfer_within_a_station</i> Entrar en sesión
                    </a>
                    <span><i class="material-icons green icon-with-text md-36">check_circle</i> Sesiones tomadas: <strong>{{ motivo.sesiones_realizadas }}</strong></span>
                    <span><i class="material-icons red icon-with-text md-36">schedule</i> Sesiones restantes: <strong>{{ motivo.sesiones_restantes }}</strong></span>
                </p>
                {% if motivo.historial_sesiones %}
                    <h3>Sesiones previas</h3>
                <table class="table">
                    <tr>
                        <th>Fecha</th>
                        <th>Estado paciente</th>
                        <th>Actividad</th>
                        <th>Comentarios</th>
                        <th>Duración</th>
                        <th></th>
                    </tr>
                    {% for sesion in motivo.historial_sesiones|slice:":10" %}
                        <tr>
                            <td>{{ sesion.fecha|date:"d/m/Y" }}</td>
                            <td>{{ sesion.estado_paciente }}</td>
                            <td>{{ sesion.actividad }}</td>
                            <td>{{ sesion.comentarios }}</td>
                            <td>({{ sesion.duracion }} min) {{ sesion.comienzo_el|date:"d/m/y h:i:s"}} - {{ sesion.fin_el|date:"h:i:s" }}</td>
                            <td><a href="{% url 'sesion_update' paciente.pk sesion.pk %}"><i class="material-icons">edit</i></a></td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p class="alert alert-warning">Aún no ha ingresado motivos de consulta para este paciente.</p>
    {% endfor %}
{% endblock %}
