{% extends "frontend/ficha_kinesica.html" %}
{% load bootstrap3 static frontend_tags formset_tags %}

{% block subtitle %}
    Ficha Kinésica - Tratamiento
{% endblock %}
{% block content_ficha %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>{% if object.pk %}Editar {% else %}Nuevo {% endif %}tratamiento de {{ paciente }}</h2>
            <form action="" method="post" novalidate="">
            {% csrf_token %}
            <fieldset>
                <legend>Motivo de consulta</legend>
                {% bootstrap_form form %}
            </fieldset>
            <fieldset>
                <legend>Planificación</legend>
                {% bootstrap_form tratamiento_form %}
            </fieldset>

            {% if objetivo_formset %}

            <div class="panel panel-success">
                <div class="panel-heading">Objetivos</div>
                <div class="panel-body">

                    <div id="formset" data-formset-prefix="{{ objetivo_formset.prefix }}">
                        {{ objetivo_formset.management_form }}

                        <div data-formset-body class="row">
                            <!-- New forms will be inserted in here -->
                            {% for form_inline in objetivo_formset %}
                                <div data-formset-form class="col-md-6 col-lg-4">
                                <div class="panel panel-default"><div class="panel-body">
                                    {% bootstrap_field form_inline.descripcion %}
                                    {% bootstrap_field form_inline.observaciones %}
                                    {% bootstrap_field form_inline.cumplido %}
                                    {% bootstrap_field form_inline.DELETE %}
                                    {% bootstrap_field form_inline.id %}
                                    {% bootstrap_field form_inline.motivo_consulta %}
                                </div></div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- The empty form template. By wrapping this in a <script> tag, the
                        __prefix__ placeholder can easily be replaced in both attributes and
                        any scripts -->

                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                                <div data-formset-form class="col-md-6 col-lg-4">
                                <div class="panel panel-default"><div class="panel-body">
                                    {% bootstrap_field objetivo_formset.empty_form.descripcion %}
                                    {% bootstrap_field objetivo_formset.empty_form.observaciones %}
                                    {% bootstrap_field objetivo_formset.empty_form.cumplido %}
                                    {% bootstrap_field objetivo_formset.empty_form.DELETE %}
                                    {% bootstrap_field objetivo_formset.empty_form.motivo_consulta %}
                                </div></div>
                                </div>
                            {% endescapescript %}
                        </script>

                        <!-- This button will add a new form when clicked -->
                        <input type="button" value="Añadir otro objetivo" class="btn btn-raised btn-warning" data-formset-add>
                    </div>
                </div>
            </div>
            {% endif %}
            {% buttons %}
                <button type="submit" class="btn btn-raised btn-primary">Guardar</button>
                <a href="{% url 'tratamiento_list' paciente.pk %}">
                    <input type="button" class="btn btn-raised" value="Volver" />
                </a>
            {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}" ></script>
    <script type="text/javascript">
        (function($){
            $(document).ready(function() {
                $("#formset").formset({
                    animateForms: true,
                }).on('formAdded', function(event) {
                    $.material.init();
                });

                $("#id_por_sesion").change(function(e){
                    if($(this).is(':checked')){
                        $("#id_cantidad_sesiones").closest(".form-group").slideUp();
                        $("#id_cantidad_sesiones").val('');
                    } else{
                        $("#id_cantidad_sesiones").closest(".form-group").slideDown();
                    }
                });
                $("#id_por_sesion").change();
            });
        })(jQuery);

    </script>

{% endblock %}
