{% extends "base.html" %}
{% load bootstrap3 pipeline %}
{% block nav %}
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{% url 'index' %}" class="navbar-brand">SGK</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                {% bootstrap_icon "th" %}
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">

                <li><a tabindex="2" href="{% url 'turno_list' %}">Turnos</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gestión <span class="caret"></span></a>
                    <ul class="dropdown-menu">


                        <li class="divider"></li>
                        <li><a tabindex="2" href="{% url 'persona_list' %}">Agenda</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pacientes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'paciente_list' %}">Lista de pacientes</a></li>
                        <li>
                            <a href="{% url 'paciente_create' %}">Nuevo paciente</a>
                        </li>
                    </ul>
                </li>
                {% if request.user.is_superuser %}
                    <li><a href="/admin/">Administración</a></li>
                {% endif %}
            </ul>
            {% endif %}
            <div class="nav navbar-nav navbar-right">
            {% block header %}
                <li><a href="{% url 'about' %}">Sobre SGK</a></li>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Hola<strong> {{ user.username }} </strong><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'password_change' %}">Cambiar contraseña</a></li>
                            <li><a href="#" id="close-session">Cerrar sesión</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                  {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block main_content %}
    <div class="container-fluid" id="content-main">
    {% block content %}
    {% endblock %}
    </div>
{% endblock %}

{% block js %}
    {% javascript 'plugins_js' %}
    <script type="text/javascript">
    (function($) {
        $(document).ready(function(){
            $.material.init();
{#                $("select").chosen({#}
{#                    width: '100%'#}
{#                });#}
{#                $(".datepicker,input[name^=fecha]").datepicker({#}
{#                    format: 'dd/mm/yyyy',#}
{#                    language: 'es',#}
{#                    orientation: 'bottom'#}
{#                });#}
            $("#close-session").click(function(e){
                e.preventDefault();
                showConfirm('Cerrar sesión', 'Va a cerrar la sesión. ¿Continuar?', function(){
                    window.location = '{% url 'logout' %}';
                });
            });

            $('#modal').on('show.bs.modal', function (event) {
                var modal = $(this);
                var urlAttr = $(event.relatedTarget).attr('href');
                console.log(urlAttr);
                $.ajax({
                    url: urlAttr,
                    context: document.body
                }).done(function(response) {
                    modal.html(response);
                });
            });
        });
    })(jQuery);

    </script>
{% endblock %}
