<div class="objetivo-content">
    {% if objetivo.cumplido %}<p class="fechas">Cumplido el: {{ objetivo.fecha_cumplido|date:"d/m/Y" }}</p>{% endif %}
    <h4>
    {% if objetivo.cumplido %}
        <a href="#" id="toggle_{{ paciente.pk }}_{{ objetivo.pk }}" title="Marcar como NO cumplido">
            {% spaceless %}<i class="material-icons md-36">radio_button_checked</i></i>{% endspaceless %}</a>
    {% else %}
        <a href="#" id="toggle_{{ paciente.pk }}_{{ objetivo.pk }}" title="Marcar como cumplido">
            {% spaceless %}<i class="material-icons md-36">radio_button_unchecked</i>{% endspaceless %}</a>
    {% endif %}
    <a href="{% url 'objetivo_update' paciente.pk objetivo.pk %}"><i class="material-icons md-36" title="Editar objetivo">edit</i></a>
    {{ objetivo.descripcion }}
    {% if objetivo.observaciones %}<small>{{ objetivo.observaciones }}</small>{% endif %}
    </h4>
</div>
<script>
    (function($){
        var send_toggle_cumplido = function() {
            $.ajax('{% url 'objetivo_cumplido_toggle' paciente.pk objetivo.pk %}', {
                data: JSON.stringify({'id': '{{ objetivo.pk }}'}),
                method: 'POST',
                success: function(data) {
                    $("#objetivo_{{ paciente.pk }}_{{ objetivo.pk }}").html(data.html);
                }
            });
        };
        $("#toggle_{{ paciente.pk }}_{{ objetivo.pk }}").one('click', function(e){
            e.preventDefault();
            showConfirm(
                        'Objectivos',
                        '¿Desea marcar <strong>{{ objetivo.descripcion  }}</strong> como {% if objetivo.cumplido %}NO {% endif %}cumplido?',
                        send_toggle_cumplido, function(){}, 'btn-success'
                );

        });
    })(jQuery);
</script>
