{% extends "base_site.html" %}
{% load bootstrap3 %}
{% block subtitle %}
    {% if object.pk %}Editar {% else %}Nuevo {% endif %}paciente
{% endblock %}
{% block content %}
    <h2>{% if object.pk %}Editar paciente {{ object }}{% else %}Nuevo paciente{% endif %}</h2>
    <form method="POST" novalidate="" enctype="multipart/form-data">

        <div class="row">
            {% csrf_token %}
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos de la persona</div>
                    <div class="panel-body">
                        {% bootstrap_form persona_form form_group_class="form-group label-floating" %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos del paciente</div>
                    <div class="panel-body">
                        {% bootstrap_form form form_group_class="form-group label-floating" %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos de contacto</div>
                    <div class="panel-body">
                        {% bootstrap_form contacto_form form_group_class="form-group label-floating" %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
            {% buttons %}
            <button type="submit" class="btn btn-primary btn-raised">
                Guardar
            </button>
            <a href="{% url 'paciente_list' %}">
                <input type="button" class="btn btn-danger btn-raised" value="Volver"/>
            </a>
            {% endbuttons %}
            </div>
        </div>

    </form>

{% endblock %}
