{% load frontend_tags static %}
<div class="panel panel-{{ panel_class }}">
    <div class="panel-heading">
        Entrada por {{ entry.profesional }} el {{ entry.creado_el|date:"d/m/Y H:i" }}
        <a class="btn btn-fab btn-info float-circle to-right" href="{% get_edit_url_entry entry %}" data-toggle="modal" data-target="#modal"  data-tooltip>
            <i class="material-icons">launch</i>
        </a>
    </div>
    <div class="panel-body">
    {% are_same_date entry.creado_el entry.modificado_el as show_update %}
        <p>{% if show_update %}
            <i>Entrada actualizada el {{ entry.modificado_el|date:"d/m/Y H:i" }}</i>
        {% endif %}</p>
        {% for k in data %}
            <div>
                {% if k.typo == "ImageField" %}
                    <img src="{{ k.value.url }}" class="img-responsive" />
                {% else %}
                    {% if k.value %}
                        <strong>{{ k.title }}:</strong> {{ k.value }}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

