{% extends "base_site.html" %}
{% load bootstrap3 %}
{% block subtitle %}
    {% if model.pk %}Editar turno {% else %} Nuevo turno {% endif %}
{% endblock %}
{% block content %}
    <form method="POST" novalidate="">
    <h2>{% if object.pk %}Editar turno {% else %}Nuevo turno{% endif %}
        <div class="pull-right">
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
                <a href="{% url 'turno_list' %}">
                    <input type="button" class="btn btn.primary" value="Volver"/>
                </a>
            {% endbuttons %}
        </div>
    </h2>
    <div class="row">

            <div class="col-md-6">
                {% csrf_token %}
                <div class="col-md-6">
                    {% bootstrap_field form.dia %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.hora %}
                </div>
                <div class="col-md-12">
                    <label>Duración:</label>
                    {% bootstrap_field form.duracion %}
                    <div class="btn-group btn-group-justified" data-toggle="buttons" id="btns_duracion">
                        <label class="btn btn-primary">
                            <input type="radio" id="minuto30" value="30">30 minutos
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" id="minuto40" value="40">40 minutos
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" id="minuto45" value="45">45 minutos
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" id="minuto60" value="60">60 minutos
                        </label>
                    </div>
                    <span class="help-block">{{ form.duracion.help_text }}</span>
                </div>
                <div class="col-md-12">
                    {% bootstrap_field form.motivo %}
                </div>
            </div>
            <!--divisor  -->
            <div class="col-md-6">
                <div class="col-md-12">
                    {% bootstrap_field form.nombre_paciente %}
                </div>
                <div class="col-md-12">
                    {% bootstrap_field form.paciente %}
                </div>
                <div class="col-md-12">
                    {% bootstrap_field form.profesional %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    {% bootstrap_field form.observaciones %}
                </div>
            </div>

    </div>
</form>

{% endblock %}

{% block script_js %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function(){
                $("#minuto" + $("#id_duracion").val()).parent().addClass("active");
                $("#btns_duracion label").click(function(){
                    $("#id_duracion").val($(this).find(">input").val());
                });
            });
        })(jQuery);
    </script>
{% endblock %}
