{% load bootstrap3 %}
<form method="POST" action="{% if object.id %}{% url 'turno_update' object.id %}{% else %}{% url 'turno_create' %}{% endif %}" novalidate=""
      class="form" role="form" id="update_turno_form">
    {% csrf_token %}
<div id="turno_result">
    <div class="row">
        <div class="col-md-4">
            {% bootstrap_field form.dia %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.hora %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.duracion %}
        </div>
        <div class="col-md-6">
            {% bootstrap_field form.profesional %}
        </div>
        <div class="col-md-6">
            {% bootstrap_field form.motivo %}
        </div>
       <div class="col-md-6">
            {% bootstrap_field form.paciente %}
       </div>
       <div class="col-md-6">
           {% bootstrap_field form.nombre_paciente %}
       </div>
       <div class="col-md-12">
           {% bootstrap_field form.observaciones %}
       </div>
    </div>
    <div class="modal-footer" >
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"/>
        <input type="submit" class="btn btn-primary" value="Guardar"/>
        {% if object.id %}
            <div class="pull-left">
            {% if object.paciente %}
                {% if object.paciente.tratamiento_activo %}
                    <a class="btn btn-danger"
                       href="{% url 'sesion_create' object.paciente.pk object.paciente.tratamiento_activo.pk %}?turno={{ object.pk }}">
                        <i class="fa fa-plus"></i> Sesión</a>
                {% endif %}
                <a class="btn btn-default" href="{% url 'ficha_kinesica' object.paciente.pk %}">
                    <i class="fa fa-list"></i> Ficha
                </a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'paciente_create' %}">
                    <i class="fa fa-plus"></i> Paciente
                </a>
            {% endif %}
            </div>
        {% endif %}
    </div>
</div>
</form>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function(){
            $("select").chosen({
                width: '100%'
            });
            var form_options = {
                target: "#turno_result",
                success: function () {
                    $('#calendar').fullCalendar( 'refetchEvents' );
                    setTimeout(function() {
                        turno_dialog.close();  // turno_dialog es global en turno_list
                    }, 800);
                }
            };
            $('#update_turno_form').ajaxForm(form_options);
        });
    })(jQuery);
</script>
