{% extends "base_site.html" %}
{% load bootstrap3 pipeline %}
{% block extra_head %}
    {% stylesheet 'fullcalendar' %}
    {% javascript 'fullcalendar_js' %}
{% endblock %}
{% block subtitle %}
    Inicio
{% endblock %}
{% block content %}
    <h2>Turnos
    <div class="pull-right">{% buttons %}
        <a data-href="{% url 'turno_create' %}" data-popup data-title="Nuevo turno">
        <button type="button" class="btn btn-primary">
          {% bootstrap_icon "plus" %} Nuevo turno
        </button></a>{% endbuttons %}
    </div>
    </h2>

    <div id='calendar'></div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){

                $("[data-popup]").click(function(e){
                    e.preventDefault();
                    var dataUrl = $(this).data("href");
                    turno_dialog = BootstrapDialog.show({
                        message: $('<div></div>').load(dataUrl),
                        title: $(this).data("title"),
                        type: BootstrapDialog.TYPE_DEFAULT,
                        size: BootstrapDialog.SIZE_WIDE
                    });
                });
                $('#calendar').fullCalendar({
                    header: {
                        left:   'title',
                        center: 'month agendaWeek, agendaDay',
                        right:  'today prev,next'
                    },
                    snapDuration: '00:15:00',
                    defaultView: 'agendaWeek',
                    allDaySlot: false,
                    minTime: '08:00:00',
                    maxTime: '22:00:00',
                    eventColor: '#568188',
                    businessHours: {
                        start: '08:00',
                        end: '22:00',
                        dow: [ 1, 2, 3, 4, 5, 6, 7 ]
                    },
                    aspectRatio: 1.7,
                    //selectable: true,
                    lang: 'es',
                    events: {
                        url: '/api/turnos-cal/',
                        editable: true,
                    },
                    eventRender: function(calEvent, jsEvent, view) {
                        if(calEvent.no_asistio) {
                            jsEvent.css({'background-color': '#EE6E73'});
                        } else if (calEvent.start.format("X") > moment().format("X")) {
                            jsEvent.css("background-color", "#00BCD4");
                        }
                        jsEvent.bind('dblclick', function() {
                            turno_dialog = BootstrapDialog.show({
                                message: $('<div></div>').load("/turnos/editar/" + calEvent.id + "/"),
                                title: "Modificar turno",
                                type: BootstrapDialog.TYPE_DEFAULT,
                                size: BootstrapDialog.SIZE_WIDE
                            });
                        });
                   },
                    eventDrop: function(event, delta, revertFunc) {
                        showConfirm(
                            'Modificar turno',
                            'El turno de ' + event.title + " se moverá al " + event.start.format("LL") +
                            " a las " + event.start.format("LT") + ". ¿Continuar?",
                            function(){
                                $.ajax({
                                    type: 'PUT',
                                    dataType: 'json',
                                    url: "/api/turnos-cal/" + event.id + "/",
                                    headers: {"X-HTTP-Method-Override": "PUT"},
                                    beforeSend: function(xhr, settings) {
                                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                    },
                                    data: {'start': event.start.toJSON(), 'end': event.end.toJSON(), 'title': event.title },
                                    success: function() {},
                                    error: revertFunc
                                });
                            },
                            function() {
                               revertFunc();
                            }
                        );
                    },
                    eventResize: function(event, delta, revertFunc) {
                        showConfirm(
                            'Modificar turno',
                            'El turno de ' + event.title + " será desde las " +
                            event.start.format("LT") + " a " + event.end.format("LT") + ". ¿Continuar?",
                            function(){
                                $.ajax({
                                    type: 'PUT',
                                    dataType: 'json',
                                    url: "/api/turnos-cal/" + event.id + "/",
                                    headers: {"X-HTTP-Method-Override": "PUT"},
                                    beforeSend: function(xhr, settings) {
                                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                    },
                                    data: {'start': event.start.toJSON(), 'end': event.end.toJSON(), 'title': event.title },
                                    success: function() {},
                                    error: revertFunc
                                });
                            },
                            function() {
                               revertFunc();
                            }
                        );
                    }
                });

            });
        })(jQuery);
    </script>
{% endblock %}
