{% extends "base_site.html" %}
{% load bootstrap3 pipeline %}
{% block extra_head %}
    {% stylesheet 'fullcalendar' %}
    {% javascript 'fullcalendar_js' %}
{% endblock %}
{% block subtitle %}
    Inicio
{% endblock %}
{% block content %}
    <h1>Turnos 
        <a class="btn btn-raised btn-info pull-right" href="{% url 'turno_report' %}">Reporte</a>
    </h1>
    {% if user.profesional %}
    <a data-href="{% url 'turno_create' %}" data-popup data-title="Nuevo turno" class="btn btn-primary btn-fab float-action">
        <i class="material-icons">add</i>
    </a>
    {% endif %}
    <div class="clearfix"></div>
    <div id='calendar'></div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function($){
            function create_turno(time) {
                if(time == undefined) time = '';
                turno_dialog = BootstrapDialog.show({
                    message: $('<div></div>').load('{% url 'turno_create' %}?time=' + time),
                    title: $(this).data("title"),
                    type: BootstrapDialog.TYPE_DEFAULT,
                    size: BootstrapDialog.SIZE_WIDE
                });
            }
            //function to calculate window height
            function get_calendar_height() {
                  var h = $(window).height() - 110;
                  return h;
            }
            $(document).ready(function(){

                $("[data-popup]").click(function(e){
                    e.preventDefault();
                    create_turno();
                });

                $('#calendar').fullCalendar({
                    header: {
                        left:   'title',
                        center: 'month agendaWeek, agendaDay',
                        right:  'today prev,next'
                    },
                    snapDuration: '00:30:00',
                    defaultView: 'agendaWeek',
                    allDaySlot: false,
                    minTime: '08:00:00',
                    maxTime: '22:00:00',
                    eventColor: '#009688',
                    businessHours: {
                        start: '08:00',
                        end: '22:00',
                        dow: [ 1, 2, 3, 4, 5, 6, 7 ]
                    },
                    //aspectRatio: 1.8,
                    height: get_calendar_height,
                    lang: 'es',
                    events: {
                        url: '/api/turnos-cal/',
                        editable: true,
                    },
                    dayClick: function(date, jsEvent, view) {
                        create_turno(date.format());
                    },
                    eventRender: function(calEvent, jsEvent, view) {
                        if(calEvent.no_asistio) {
                            jsEvent.css({'background-color': '#F44336'});
                        } else if (calEvent.start.format("X") > moment().format("X")) {
                            jsEvent.css("background-color", "#03A9F4");
                        }
                        jsEvent.bind('click', function() {
                            turno_dialog = BootstrapDialog.show({
                                message: $('<div></div>').load("/turnos/editar/" + calEvent.id + "/"),
                                title: "Modificar turno",
                                type: BootstrapDialog.TYPE_DEFAULT,
                                size: BootstrapDialog.SIZE_WIDE
                            });
                        });
                   },
                    eventDrop: function(event, delta, revertFunc) {
                        showConfirm(
                            'Modificar turno',
                            'El turno de ' + event.title + " se moverá al " + event.start.format("LL") +
                            " a las " + event.start.format("LT") + ". ¿Continuar?",
                            function(){
                                $.ajax({
                                    type: 'PUT',
                                    dataType: 'json',
                                    url: "/api/turnos-cal/" + event.id + "/",
                                    headers: {"X-HTTP-Method-Override": "PUT"},
                                    beforeSend: function(xhr, settings) {
                                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                    },
                                    data: {'start': event.start.toJSON(), 'end': event.end.toJSON(), 'title': event.title },
                                    success: function() {},
                                    error: revertFunc
                                });
                            },
                            function() {
                               revertFunc();
                            }
                        );
                    },
                    eventResize: function(event, delta, revertFunc) {
                        showConfirm(
                            'Modificar turno',
                            'El turno de ' + event.title + " será desde las " +
                            event.start.format("LT") + " a " + event.end.format("LT") + ". ¿Continuar?",
                            function(){
                                $.ajax({
                                    type: 'PUT',
                                    dataType: 'json',
                                    url: "/api/turnos-cal/" + event.id + "/",
                                    headers: {"X-HTTP-Method-Override": "PUT"},
                                    beforeSend: function(xhr, settings) {
                                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                    },
                                    data: {'start': event.start.toJSON(), 'end': event.end.toJSON(), 'title': event.title },
                                    success: function() {},
                                    error: revertFunc
                                });
                            },
                            function() {
                               revertFunc();
                            }
                        );
                    }
                });

            });
        })(jQuery);
    </script>
{% endblock %}
