{% extends 'turnos/turno_form.html' %}
{% load bootstrap3 %}
{% block action_buttons %}
    {% if object.id %}
        <div class="pull-left">
        {% if object.paciente %}
            {% if object.paciente.tratamiento_activo %}
                {% if object.sesion %}
                <a class="btn btn-raised btn-success"
                    href="{% url 'sesion_update' object.paciente.pk object.sesion_id %}">
                    <i class="material-icons">description</i> Ver sesión</a>
                {% elif object.profesional == user.profesional %}
                <a class="btn btn-raised btn-warning"
                    href="{% url 'sesion_create' object.paciente.pk object.paciente.tratamiento_activo.pk %}?turno={{ object.pk }}">
                    <i class="material-icons">transfer_within_a_station</i> Entrar en sesión</a>
                {% endif %}
            {% else %}
            <span class="btn-default btn-raised btn"><i class="material-icons">event_busy</i> Sin tratamiento</span>
            {% endif %}
            <a class="btn btn-raised btn-info" href="{% url 'ficha_kinesica' object.paciente.pk %}">
                <i class="material-icons">assignment</i> Ficha
            </a>
        {% else %}
            <a class="btn btn-raised btn-primary" href="{% url 'paciente_create' %}">
                <i class="material-icons">add</i> Paciente
            </a>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}
