{% load bootstrap3 %}
{{ form.media }}

<div id="turno_result">
    <form method="POST" action="{% if object.id %}{% url 'turno_update' object.id %}{% else %}{% url 'turno_create' %}{% endif %}" novalidate=""
      class="form" role="form" id="update_turno_form">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-4">
            {% bootstrap_field form.dia %}
        </div>
        <div class="col-sm-4">
            {% bootstrap_field form.hora %}
        </div>
        <div class="col-sm-4">
            {% bootstrap_field form.duracion %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.motivo %}
        </div>
       <div class="col-sm-6">
           {% bootstrap_field form.nombre_paciente %}
       </div>
       <div class="col-sm-6">
            {% bootstrap_field form.paciente %}
       </div>
        {% if object.id %}
            <div class="col-sm-3">
               {% bootstrap_field form.no_asistio %}
            </div>
            <div class="col-sm-3">
               {% bootstrap_field form.no_aviso %}
            </div>
            <div class="col-sm-12">
               {% bootstrap_field form.observaciones %}
            </div>
        {% else %}
            <div class="col-sm-6">
               {% bootstrap_field form.observaciones %}
            </div>

        {% endif %}

    </div>

    <div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            {% if object.id %}
                <button class="btn btn-raised btn-danger" href="#" id="btn-eliminar" type="button"><i class="material-icons">delete</i></button>
            {% endif %}
            <button type="button" class="btn btn-raised btn-default" data-dismiss="modal"><i class="material-icons">cancel</i></button>
            <button type="submit" class="btn btn-raised btn-primary"><i class="material-icons">save</i></button>
        </div>
        {% block action_buttons %}
        {% if object.id %}
            <div class="pull-left">
            {% if object.paciente %}
                <a class="btn btn-raised btn-info" href="{% url 'paciente_update' object.paciente.pk %}">
                    <i class="material-icons">mode_edit</i> Modificar {{ object.paciente }}
                </a>
            {% else %}
                <a class="btn btn-raised btn-primary" href="{% url 'paciente_create' %}">
                    <i class="material-icons">add</i> Paciente
                </a>
            {% endif %}
            </div>
        {% endif %}
        {% endblock %}
    </div>
    </div>
</form>
{% if object.id %}
    <div style="display: none;" id="delete-container">
        <form action="{% url 'turno_delete' object.id %}" id="turno-delete" method="POST">
            {% csrf_token %}
            {{ delete_form.as_p }}
            <p class="alert alert-danger">
                Se eliminará este turno. ¿Desea continuar?
             <input type="submit" value="Si, eliminar!" class="btn btn-raised btn-danger"/>
            </p>
        </form>
    </div>
{% endif %}
</div>
<script type="text/javascript">
    (function ($) {
        close_dialog = function (ev) {
            // determino si fue todo bien si 'success-and-close' está en el html (si, lo sé, horrible!!!!)
            if(ev.indexOf('success-and-close') > 0) {
                $('#calendar').fullCalendar('refetchEvents');
                setTimeout(function () {
                    turno_dialog.close();  // turno_dialog es global en turno_list
                }, 800);
            }
        };
        $(document).ready(function(){
            $.material.init();

            $("#btn-eliminar").click(function(e){
                e.preventDefault();
                $("#delete-container").show('slow');
            });
            var form_options = {
                target: "#turno_result",
                success: close_dialog
            };
            $('#update_turno_form').ajaxForm(form_options);
            $("#turno-delete").ajaxForm(form_options);

            setTimeout(function(){ $("#id_paciente").chosen();}, 200);
        });

    })(jQuery);
</script>
